certifi==2020.12.5
chardet==4.0.0
docutils==0.17.1
docx==0.2.4
docx2pdf==0.1.7
docx2txt==0.8
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
lxml==4.6.3
numpy==1.20.3
opencv-python==4.5.2.52
Pillow==8.2.0
Pygments==2.9.0
pypiwin32==223
pytesseract==0.3.7
python-docx==0.8.11
pywin32==227
requests==2.25.1
tqdm==4.61.0
urllib3==1.26.5
